{% extends 'layout.html' %}
{% block title %}Conferences{% endblock %}
{% block body %}
<div class="container mt-3">
    <ul>
    {% for item in conferences %}
        <div class="card w-75 {{'float-right' if loop.index is divisibleby(2) else 'float-left'}} mb-4 shadow rounded">
            <img src="{{item.banner_image}}" class="card-img-left">
            <div class="card-body">
                <h4 class="card-title">{{item.title}}</h4>
                <h6 class="card-subtitle mb-2 text-muted">{{item.date_time|format_datetime}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">{{item.venue_name}}, {{item.venue_city}}, {{item.venue_country}}</h6>
                <p class="card-text">{{item.description}}</p>
                <p class="card-text mt-2">Organised by <img style="max-height: 30px; max-width: 30px; height: auto; width: auto;" src="{{item.organiser_icon}}"></img> <em>{{item.organiser_name}}</em>.</p>
            </div>
        </div>
    {% endfor %}
    </ul>
</div>
{% endblock %}
